
body{
    background-image: url('https://img.freepik.com/vector-gratis/papel-pintado-flores-acuarela-colores-pastel_23-2148418364.jpg?w=2000');
    opacity: 0.9;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
/* background: #A7BDEF;
background: -webkit-radial-gradient(top right, #A7BDEF, #08595C);
background: -moz-radial-gradient(top right, #A7BDEF, #08595C);
background: radial-gradient(to bottom left, #A7BDEF, #08595C);
margin: 0px;
font-family: 'Arima', cursive; */
}
.ContainerPrincipal{
    display: flex;
    height: 100vh;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Link{
    color: #08595C;
    font-size: medium;
    font-family: 'Arima', cursive;
    text-decoration: none;
    font-weight: bolder;
}

.LoginContainer{
    display: flex;
    justify-content: center;
    align-items: center;   
    margin: 20px;
    padding: 20px;
    border: dotted 2px #08595C;
    flex-direction: column;
    color: #08595C;
}
::placeholder { color: black; }
::placeholder { font-family: 'Arima', cursive}

.InputsForm{
    display: flex;
    margin: 0 10px 0 10px;
    padding: 10px;
}

.InputsForm input {
    background-color: rgba(245, 183, 177, 0.3);
    border-radius: 10px;
    font-family: 'Arima', cursive;
    color: black;
    font-size: smaller;
}
.InputsForm img{
    height: 35px;
    width: 35px;
    margin-right: 10px;
}

.ButtonLogin{
    border-radius: 5px;
    color: white;
    background-color: #08595C;
    font-family: 'Arima', cursive;
    width: auto;
    justify-content: center;
}
.ButtonGoogle{
    border-radius: 35px;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    border-style: none;
    font-family: 'Arima', cursive;
}
.ButtonGoogle img{
    width: 35px;
    height: 35px;
    border-radius: 35px;
    border-style: none;
}